# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# ChromaDB local storage
chroma_db/

# Virtual environments
rag_env/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/